<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="row">
      <ul class="timeline">
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">
                  Ministry of Economy and Finance (Benin)
                </div>
                <div class="h6 mt-0 title">
                  Software Engineer (January, 2018 - Present)
                </div>
                <p align="justify">
                  Specially in the Directorate-General of Taxes.
                </p>
                <p align="justify">
                  Working as Software Developer after winning a highly
                  competitive national contest where two Software Engineers have
                  been recruited.
                </p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Web Development</li>
                    <li class="non_list">Software Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Javascript</li>
                        <li class="non_list">Typescript</li>
                        <li class="non_list">Angular</li>
                        <li class="non_list">Angular material</li>
                        <li class="non_list">Bootstrap</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Spring boot</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">PostgreSQL</li>
                        <li class="non_list">Windev</li>
                        <li class="non_list">Git</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge down">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">Takatel Communication</div>
                <div class="h6 mt-0 title">
                  Full Stack Developer (April, 2017 - January, 2018)
                </div>
                <p align="justify">
                  Worked as a Full Stack Developer in a non-formalized contract.
                </p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Application Development</li>
                    <li class="non_list">Web Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Javascript</li>
                        <li class="non_list">Typescript</li>
                        <li class="non_list">Angular</li>
                        <li class="non_list">Firebase</li>
                        <li class="non_list">Bootstrap</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Java</li>
                        <li class="non_list">Android</li>
                        <li class="non_list">Git</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">
                  Ministry of Economy and Finance (Benin)
                </div>
                <div class="h6 mt-0 title">
                  Software Developer (October, 2015 - April, 2016)
                </div>
                <p align="justify">
                  Specially in the Directorate-General for Economic Affairs.
                </p>
                <p align="justify">
                  Working as Software Developer after winning a national contest
                  where 14 Software Developers have been recruited. The
                  competition was finally overridden due to irregularities.
                </p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col">
                        <li class="non_list">Java EE</li>
                        <li class="non_list">PrimeFaces</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
