<div class="section" id="certification">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Certifications</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>Mars 2020</p>
            <div class="h5">Udemy's Angular Certificate</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Udemy's Certificate of completion</div>
            <h4 class="category">Udemy</h4>
            <ul>
              <li>
                Course :
                <b>The Complete Angular Course: Beginner to Advanced.</b>
              </li>
              <li>Taught by Mosh Hamedani</li>
            </ul>
            <h5 class="card-text">
              <a
                href="https://www.udemy.com/certificate/UC-0aed8b96-b24d-4955-82da-d24a8aa12c86/"
                target="_blank"
                >See credential</a
              >
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2016 - 2017</p>
            <div class="h5">Certificate of Proficiency in English</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Certificate of Proficiency in English</div>
            <h4 class="category">University of Ilorin, Kwara State, Nigeria</h4>
            <ul>
              <li>
                Obtained after completing one year Linguistic Immersion
                programme in the Linguistic Immersion Centre of University of
                Ilorin.
              </li>
            </ul>
            <h5 class="card-text">
              <a href="">See credential</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
