<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2012 - 2016</p>
            <div class="h5 mt-4">
              Master's Degree in Network and Information Systems Engineering
            </div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">
              Master's Degree in Network and Information Systems Engineering
            </div>
            <h4 class="category">
              University of Abomey-Calavi, Institute of Mathematics and Physical
              Sciences
            </h4>
            <p>
              This advanced degree program provided in-depth training in
              information systems design, development, and management. The
              curriculum encompassed diverse subjects, including database
              management, software engineering, network security, data
              analytics, and systems architecture. I gained expertise in
              leveraging technology to solve complex business and organizational
              challenges, develop and optimize information systems, and ensure
              data integrity and security. This education equips me with the
              skills and knowledge to excel in roles related to IT management,
              systems analysis, software engineering, and other critical
              functions for efficient information technology utilization across
              industries.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2009 - 2011</p>
            <div class="h5">
              Bachelor's Degree in Electrical and Computer Engineering
            </div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">
              Bachelor's Degree in Electrical and Computer Engineering
            </div>
            <h4 class="category">
              University of Abomey-Calavi, Institute of Technology (Lokossa)
            </h4>
            <p>
              This undergraduate program provided a solid foundation in
              electrical and computer engineering, encompassing a range of core
              topics such as circuit design, digital systems, computer
              architecture, and signal processing. The degree equipped me with
              the knowledge and skills to design and analyze complex electronic
              systems, develop computer hardware and software, and effectively
              tackle engineering challenges. It prepared me for roles in
              electrical engineering, computer engineering, and related fields,
              where I could contribute to the development of cutting-edge
              technologies and innovations.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2006 - 2008</p>
            <div class="h5">
              BTS (Brevet de Technicien Supérieur) in Industrial Computing
            </div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">
              BTS (Brevet de Technicien Supérieur) in Industrial Computing
            </div>
            <h4 class="category">
              African University of Technology and Management - GASA Formation
              (Bénin)
            </h4>
            <P>
              This BTS program, with a specialization in Industrial Computing,
              provided a strong foundation in computer science and industrial
              automation. It covered essential subjects such as programming,
              control systems, data analysis, and industrial network
              technologies. The degree equipped me with the skills to design,
              implement, and maintain computer systems used in industrial
              processes. It prepared me for roles in the field of industrial
              computing, where I could apply my expertise to enhance automation,
              control, and efficiency in various industrial settings.
            </P>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2002 - 2005</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Scientific Higher Secondary</div>
            <h4 class="category">Public Secondary School, Adjarra (Bénin)</h4>
            <ul>
              <li>
                The High School was mainly focus on further education in
                science, mathematics, physics, Chemistry and Languages.
              </li>
              <li>Attested by <b>Scientific Baccalaureate Diploma</b> .</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>1998 - 2002</p>
            <div class="h5">Secondary School</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">Public Secondary School, Adjarra (Bénin)</h4>
            <ul>
              <li>
                <!-- The Secondary aims at Maths , English , Science, Social Science,
                  Litrature and Languages. -->
                The Secondary School was mainly focus on the bases of science,
                mathematics, physics, Chemistry and Languages.
              </li>

              <li>
                Attested by the <b>General Certificate Secondary Education</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>1991 - 1998</p>
            <div class="h5">Primary School</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Primary School</div>
            <h4 class="category">Public Primary School, Adjarra (Bénin)</h4>
            <ul>
              <li>
                The Primary School education aims to enable the child to live a
                full life as a child, to realise his or her potential as a
                unique individual and to prepare the child for further education
                and lifelong learning.
              </li>

              <li>
                Attested by the <b>Certificate of Primary School Education</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
