<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2012 - 2016</p>
            <div class="h5">Information Systems Engineering</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Information Systems Engineering</div>
            <h4 class="category">
              Institute of Mathematics and Physical Sciences, University of
              Abomey-Calavi
            </h4>
            <ul>
              <li>
                Information Systems Engineering involves an architectural
                approach for planning, analyzing, designing, and implementing
                applications.
              </li>
              <li>
                Attested by the diploma of <b>Information Systems Engineer</b>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2009 - 2011</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Bachelor of Electrical & Computer Engineering</div>
            <h4 class="category">
              University Institute of Technology, University of Abomey-Calavi
            </h4>
            <ul>
              <li>
                The Electrical & Computer Engineering program prepares for a
                wide range of engineering study and career options, including
                business, computer hardware, computer software, nanoelectronic
                chips, nanoengineering, robotics and solar energy harvesting and
                distribution.
              </li>
              <li>Attested by a <b>Bachelor's Degree</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2006 - 2008</p>
            <div class="h5">Senior Technologist’s Certificate</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Senior Technologist’s Certificate</div>
            <h4 class="category">
              African University of Technology and Management - GASA Formation
              (Bénin)
            </h4>
            <ul>
              <li>
                Called BTS (Brevet de Technicien Supérieur) in French, this
                certificate provides quick achievement of professional
                qualifications for entry into the workforce.
              </li>
              <li>
                The diploma was obtained in the industrial computing course.
              </li>
              <li>Attested by the <b>Senior Technologist’s Certificate</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2002 - 2005</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Scientific Higher Secondary</div>
            <h4 class="category">Public Secondary School, Adjarra (Bénin)</h4>
            <ul>
              <li>
                The High School was mainly focus on further education in
                science, mathematics, physics, Chemistry and Languages.
              </li>
              <li>Attested by <b>Scientific Baccalaureate Diploma</b> .</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>1998 - 2002</p>
            <div class="h5">Secondary School</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">Public Secondary School, Adjarra (Bénin)</h4>
            <ul>
              <li>
                <!-- The Secondary aims at Maths , English , Science, Social Science,
                  Litrature and Languages. -->
                The Secondary School was mainly focus on the bases of science,
                mathematics, physics, Chemistry and Languages.
              </li>

              <li>
                Attested by the <b>General Certificate Secondary Education</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>1991 - 1998</p>
            <div class="h5">Primary School</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Primary School</div>
            <h4 class="category">Public Primary School, Adjarra (Bénin)</h4>
            <ul>
              <li>
                The Primary School education aims to enable the child to live a
                full life as a child, to realise his or her potential as a
                unique individual and to prepare the child for further education
                and lifelong learning.
              </li>

              <li>
                Attested by the <b>Certificate of Primary School Education</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
