<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">
      <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card pr-1">
            <img
              class="card-img-top mt-5 mb-4"
              src="assets/images/performa.jpg"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Performa Web Application - Frontend</h4>
              <p>
                This project is a testament to my proficiency as a Fullstack
                Developer, where I single-handedly conceptualized and crafted
                the entire frontend using Angular (TypeScript) for a restaurant
                and bar management application. This project seamlessly
                complements the Performa Web Application's backend, showcasing
                my ability to create robust user interfaces and ensuring a
                harmonious synergy between the frontend and backend development.
              </p>
              <p>
                <em>Personal Project - Built independently with Angular</em>
              </p>
              <a
                href="https://performa.rem-si.com/"
                class="btn btn-primary ml-2 mr-5"
                target="_blank"
                >See Project</a
              >
              <a
                href="https://github.com/Kpadonou/performa.git"
                class="btn btn-primary"
                target="_blank"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/performa-api.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Performa Web Application - Backend</h4>
              <p>
                This project showcases my skills in backend development. I
                designed and developed the entire backend for a web application
                tailored to bars and restaurants shops management using NestJS.
                This included creating RESTful APIs, documenting them with
                Swagger, implementing authentication, and integrating PostgreSQL
                for data management. Additionally, I integrated Puppeteer for
                document generation, a third-party payment solution for secure
                transactions, and deployed the application on a personal VPS
                using Docker. This project highlights my expertise in RESTful
                API design, PostgreSQL, and backend development.
              </p>
              <p>
                <em
                  >Personal Project - Built independently with Nestjs and
                  PostgreSQL</em
                >
              </p>
              <a
                href="https://performa-api.rem-si.com/swagger-ui.html"
                class="btn btn-primary ml-2 mr-5"
                target="_blank"
                >See Project</a
              >
              <a
                href="https://github.com/Kpadonou/performa-api.git"
                class="btn btn-primary"
                target="_blank"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/e-shopping-front.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">eShopping Web Application - Frontend</h4>
              <p>
                The eShopping Web Application - Frontend project, which I
                undertook as a personal project, showcases my proficiency in
                frontend development. In this initiative, I independently
                created a user-friendly and functional e-commerce web
                application using Angular. The project involved designing and
                implementing essential features such as a product catalog, a
                shopping cart, and a streamlined checkout process. Additionally,
                I integrated user authentication and authorization features to
                ensure a secure and confident user experience within the
                application.
              </p>
              <p>
                <em>Personal Project - Built independently with Angular</em>
              </p>
              <a
                href="https://eshopping.rem-si.com"
                class="btn btn-primary ml-2 mr-5"
                target="_blank"
                >See Project</a
              >
              <a
                href="https://github.com/Kpadonou/e-shopping-frontend.git"
                class="btn btn-primary"
                target="_blank"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/e-shopping-back.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">
                The eShopping Web Application - Backend
              </h4>
              <p>
                The eShopping Web Application - Backend project was a personal
                initiative where I skillfully designed and developed RESTful
                APIs using Java Spring Boot for essential e-commerce features,
                including Product Management, Cart and Checkout, Order
                Processing, User Profiles, and authentication. This project
                showcased my proficiency in independently building the backend
                infrastructure, integrating PostgreSQL as the relational
                database management system, and deploying the application Docker
                Compose.
              </p>
              <p>
                <em
                  >Personal Project - Built independently with Spring Boot and
                  PostgreSQL</em
                >
              </p>
              <a
                href="https://eshopping-api.rem-si.com/swagger-ui.html"
                class="btn btn-primary ml-2 mr-5"
                target="_blank"
                >See Project</a
              >
              <a
                href="https://github.com/Kpadonou/e-shopping-backend.git"
                class="btn btn-primary"
                target="_blank"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/cfisc.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">CFISC (Data Exchange Platform)</h4>
              <p>
                At the Ministry of Finances of Benin, I had the privilege to
                design and develop the entire frontend of the CFISC (Data
                Exchange Platform), a crucial initiative facilitating seamless
                communication among ministry departments. This significant
                project was built using Angular and TypeScript. Leveraging
                Angular and Angular Material, I created responsive and
                user-friendly interfaces, ensuring a smooth user experience.
                Collaborating closely with a cross-functional team, including
                backend developers and stakeholders, I aligned the frontend
                architecture with the backend and business requirements.
              </p>
              <p><em>Work Project: Built with Angular </em></p>
              <div class="row">
                <div class="col-md-3">
                  <a
                    href="https://cfisc.impots.bj/#/auth"
                    class="btn btn-primary stretched-link"
                    style="width: 100%"
                    target="_blank"
                    >See</a
                  >
                </div>
                <div class="col-md-9">
                  <button class="btn btn-danger" disabled="true">
                    Unable to publish this code due to legal restrictions
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/cfisc.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">GESEXO (Exemption Management software)</h4>
              <p>
                This project aimed to streamline the management of exemptions
                and facilitate efficient processes within the organization. My
                role involved actively contributing to the design and
                development of the user interface using Angular, harnessing its
                robust features to create an intuitive and user-friendly
                frontend application. Collaboration was at the core of this
                project. I worked seamlessly with teammates in the development,
                leveraging Git for version control, which resulted in a
                well-organized and efficient development process. Close
                collaboration with backend developers allowed us to build
                cohesive solutions that seamlessly integrated frontend and
                backend functionalities.
              </p>
              <p><em>Work Project: Built with Angular </em></p>
              <div class="row">
                <div class="col-md-3">
                  <a
                    class="btn btn-primary stretched-link"
                    style="width: 100%; color: #fff"
                    target="_blank"
                    >See</a
                  >
                </div>
                <div class="col-md-9">
                  <button class="btn btn-danger" disabled="true">
                    Unable to publish this code due to legal restrictions
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/e-enreg-front-office.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">
                Acts registration application (Front office)
              </h4>
              <p>
                The Acts Registration Application (Front Office) project at the
                Ministry of Finance was a significant undertaking that
                transformed the citizen experience by simplifying the
                registration fee pre-liquidation, payment processing, and deed
                registration application submission processes. As the lead
                developer, I designed and developed the entire Front Office
                module from the ground up, leveraging the power of Angular to
                create a modern and responsive application.
              </p>
              <p>
                <em>Work Project: Built with Angular</em>
              </p>
              <div class="row">
                <div class="col-md-3">
                  <a
                    href="https://e-enregistrement.impots.bj/#/contribuable-ass/preliquidation"
                    class="btn btn-primary stretched-link"
                    style="width: 100%"
                    target="_blank"
                    >See</a
                  >
                </div>
                <div class="col-md-9">
                  <button class="btn btn-danger" disabled="true">
                    Unable to publish this code due to legal restrictions
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/e-enreg-back-office.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">
                Acts registration application (Back office)
              </h4>

              <p>
                This project was a significant undertaking aimed at enhancing
                the efficiency and effectiveness of registration service agents.
                As the sole developer responsible for the project's backend, I
                meticulously designed and developed the entire Back Office
                module. This module empowered registration service agents to
                process deeds registration requests and manage internal tasks
                seamlessly. Leveraging the power of Angular, I created a potent
                and user-friendly tool that allowed agents to perform their
                duties with ease.
              </p>
              <p>
                <em>Work Project: Built with Angular</em>
              </p>
              <div class="row">
                <div class="col-md-3">
                  <a
                    href="https://e-enregistrement.impots.bj"
                    class="btn btn-primary stretched-link"
                    style="width: 100%"
                    target="_blank"
                    >See</a
                  >
                </div>
                <div class="col-md-9">
                  <button class="btn btn-danger" disabled="true">
                    Unable to publish this code due to legal restrictions
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/performa-demo.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Performa Feature Exposition Website</h4>
              <p>
                This web application serves as a showcase for the robust
                features of the Performa software, particularly in the context
                of bar, restaurant, and shop management. One notable achievement
                has been the successful implementation of a seamless user
                registration system, enhancing my skills in designing and
                developing modern, responsive, and user-friendly interfaces with
                Angular. This project highlights my dedication to building
                interactive web applications that effectively demonstrate the
                capabilities and value of complex software solutions.
              </p>
              <p>
                <em>Personal Project - Built independently with Angular</em>
              </p>
              <a
                href="https://demo.rem-si.com/"
                class="btn btn-primary ml-2 mr-5"
                target="_blank"
                >See Project</a
              >
              <a
                href="https://github.com/Kpadonou/portal-performa.git"
                class="btn btn-primary"
                target="_blank"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/reddit.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Simple Reddit Application Clone</h4>
              <p>
                The Simple Reddit Application Clone is a web development project
                I undertook to hone my skills in front-end and full-stack web
                development. Modeled after the popular platform Reddit, this web
                application provides users with the ability to create, share,
                and engage with posts on a wide range of topics. The project was
                implemented using Angular as the primary framework, and it
                encapsulates the core functionalities of Reddit, enabling users
                to seamlessly post articles with titles and URLs while
                facilitating a voting system to gauge post popularity.
              </p>
              <p>
                <em>Personal Project - Built independently with Angular</em>
              </p>
              <a
                href="https://angular-simple-reddit.herokuapp.com"
                class="btn btn-primary ml-2 mr-5"
                target="_blank"
                >See Project</a
              >
              <a
                href="https://github.com/Kpadonou/simple-reddit.git"
                class="btn btn-primary"
                target="_blank"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/portfolio.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">My Portfolio</h4>
              <p>
                In an expression of my dedication to continuous learning and
                innovation, I designed and built my personal portfolio website.
                Leveraging the Angular framework, this project serves as a
                compelling and interactive platform to showcase my professional
                achievements, projects, and technical skills. The website is a
                testament to my ability to create robust and scalable web
                applications using modern front-end technologies. It reflects my
                commitment to code quality and excellence in software
                development, providing visitors with a glimpse of my proficiency
                as a Full Stack Developer.
              </p>
              <p>
                <em>Personal Project - Built independently with Angular</em>
              </p>
              <a href="" class="btn btn-primary ml-2 mr-5" style="color: #fff"
                >See Project (This)</a
              >
              <a
                href="https://github.com/Kpadonou/my-portfolio.git"
                class="btn btn-primary"
                target="_blank"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p44.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">
                Front-end of Tax exemption management software (Ministry of
                Finance)
              </h4>
              <h5 class="card-text">
                <b>Technology :</b> Angular 8, Angular Material, Ant Design
              </h5>
              <h5 class="card-text"><b>Role :</b> Team member</h5>
              <a
                href="https://e-enregistrement.impots.bj"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/mehulk05/Matrimonial-Website"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p3.png"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Backoffice of Ecofin</h4>
              <h5 class="card-text">
                <b>Technology :</b> Angular 9, Bootstrap 4, Angular Material
              </h5>
              <h5 class="card-text">
                <b>Role :</b> In charge of the entire project
              </h5>
              <a
                href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >See Project</a
              >
              <a
                href="https://github.com/mehulk05?tab=repositories"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
